{% extends "layout/site.html" %}

{% block title %}分享{% endblock %}
{% block css %}signin{% endblock %}
{% block js %}sign{% endblock %}
{% block content %}
<div class="blank2"></div>
<div class="wapper"><img src="/style/css/nav_signin.jpg"></div>
<div class="blank10"></div>
<div class="wapper">
    {% if oauth -%}

    <p>

        注册新账户。<br>

        <img src="{{oauth['profile_image_url']}}">

        你好 {{oauth['screen_name']}}！

    </p>

    {%-endif %}
<div class="free_box">
    <div class="global_popwin clearfix">
    	<div class="blank20"></div>
    	
    	<div class="blank20"></div>
    	<div class="pop_form">
		<div class="share">
	<a href="http://wap.koudaitong.com/v2/feature/mxg9sblg" style="font-size:25px;width:80%;border-left:0px;border-top:0px;border-right:0px;border-bottom:1px">恭喜您，您已经是菜市优品的会员了</br>分享此页面连接给好友，如果好友使用此连接注册<br>你们都会有惊喜，有优惠</br>点击返回菜市优品首页。</a>
    	<input type="button" id="copyurl" style="display:none" value="复制" />
	</div>	
    		<div class="blank20"></div>
    	</div>
    </div>
</div>

{% endblock %}



{% block foot %}

{% endblock %}
