<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}管理首页{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/style/css/global.css" />
    <link type="text/css" rel="stylesheet" href="/style/css/admin.css" />
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="wapper headbg"><div class="adminhead"></div></div>
<div class="wapper bg clearfix">
    <ul class="left pt10">
        
    </ul>
    <div class="right"> 
    	{% block content %}&nbps;{% endblock %}
    </div>
</div>
{% block foot %}{% endblock %}
</body>
</html>
