<!doctype html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta property="wb:webmaster" content="988c9b63cde60b6c" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <title>{% block title %}首页{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="/style/css/global.css" />
    <link type="text/css" rel="stylesheet" href="/style/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/style/css/{% block css %}{% endblock %}.css" />
    <script src="/style/js/do.js"></script>
    <script src="/style/js/common.js"></script>
    <script src="/style/js/{% block js %}{% endblock %}.js"></script>
</head>

<body>
<div class="blank20"></div>
    {% block content %}&nbps;{% endblock %}
{% if user  is none  -%}
<div class="global_popwinwapper r5" id="formforlogin" style="display: none;">
    <div class="global_popwin clearfix">
        <div class="blank20"></div>
        <div class="global_pop_title login"><a class="cp close_pop fr mr20 fs14">关闭</a></div>
        <div class="blank20"></div>
        <div class="pop_form">
            <form action="/signin" method="post">
            {{xsrf()}}
            <div class="login_form">
                <div class="item">
                    <span>帐号：</span><input type="text" name="mobile" class="fl">
                </div>
                <div class="item">
                   <span>密码：</span><input type="password" name="password" class="fl">
                </div>
                <div class="item">
                    <span>&nbsp;</span><a class="oc fs14">忘记密码</a>
                </div>
                <div class="itembut">
                    <span>&nbsp;</span><input type="submit" class="titico bsbut" value="登陆">
                </div>
              </form>
                <div class="blank10"></div>
                <div class="itemword">
                </div>
        </div>
        <div class="link_form">
            <p class="oc mb20">还没有果蔬优品的账户？ </p>
            <p><input type="button" class="titico sbut" onclick="$.register();" value="免费注册"></p>
            </div>
            <div class="blank20"></div>
        </div>
    </div>
</div>
{%endif %}
<div class="global_popwinwapper r5" id="formforregister" style="display: none;">
    <div class="global_popwin clearfix">
    	<div class="blank20"></div>
    	<div class="global_pop_title register"><a class="cp close_pop fr mr20 fs14">关闭</a></div>
    	<div class="blank20"></div>
    	<div class="pop_form">
        <form action="/signup" method="post">
        	{{xsrf()}}
    		<div class="login_form">
    			<div class="item">
    				<span>手机号码：</span>
                    <input type="text" name="mobile" maxlength="11" class="fl">
    			</div>
    			<div class="item">
    				<span>设置密码：</span>
                    <input type="password" name="password" class="fl">
    			</div>
                <div class="item">
                	<span>确认密码：</span>
                    <input type="password" name="apassword" class="fl">
                </div>
                <div class="item">
                	<span>验证码：</span>
                    <input type="text" name="vcode" maxlength="4" class="fl"><a href="" id="getvcode" class="fl">获取验证码</a>
                </div>
                <div class="itembut">
                	<span>&nbsp;</span><input type="submit" class="titico bsbut" value="注册">
                </div>
    		</div>
            </form>
    		<div class="link_form">
    			<p class="oc mb20">已有果蔬优品的账户？ </p>
    			<p><input type="button" class="titico sbut" onclick="$.login();" value="登陆"></p>
    		</div>
    		<div class="blank20"></div>
    	</div>
    </div>
</div>

</body>

</html>
